<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../../styles/login.pcss">
    </head>
    <body>
        <div class="main">
            <h1 class="title">Добро пожаловать</h1>
            <form class="form_login">
                {{> fieldset label="Логин" type="text" name="login"}}
                {{> fieldset label="Пароль" type="password" name="password"}}
                <div class="helpPosition">
                    {{> button label="Войти"}}
                </div>
                {{> link href="/src/pages/registration/registration.hbs" text="Создать аккаунт"}}
            </form>
        </div>
    </body>
</html>
