---
id: "root" 
---
<html>
    <head>
        <script src="src/index.js" type="module"></script>
    </head>
    <body>
        <div id="{{ id }}"></div>
        <a href="/src/pages/test-page/index.hbs">Test Page</a>
    </body>
</html> 