.fieldset {
    border: none;
    
    

    &__input {
        border: none;
        border-bottom: 1px solid black;
        width: 100%;
        outline: none;
        display:flex;
        justify-content: space-between;
    }
}