.fieldset {
    border: none;
    color: #303030;
    
    

    &__input {
        border: none;
        border-bottom: 1px solid #b1b6bd;
        width: 100%;
        outline: none;
        display:flex;
        justify-content: space-between;
    }
}