.header {
    top: 0;
    display: flex;
    justify-content: space-between;
}

.header_elems {
    display: flex;
    margin: 10px;
}

.header_elems a {
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #fcba03;
}