@import "./fieldset.pcss";
@import "./form.pcss";
@import "./button.pcss";

body {
    display: flex; 
    justify-content: center;
}

.main {
    border: 1px solid black;
    width: 400px;
    margin-top: 15%;

}

.title {
    display: flex;
    justify-content: center;
}
