@import "./login_styles/form.pcss";
@import "./login_styles/fieldset.pcss";
@import "./login_styles/button.pcss";
@import "./login_styles/link.pcss";
@import "./header.pcss";

body {

}

.main {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #b1b6bd;
    width: 400px;
    margin-top: 10%;
    border-radius: 4px;
    background-color: #f2f2f2;
}

.title {
    display: flex;
    justify-content: center;
    color: #303030;
}

