@import "./header.pcss";

body {
    margin: 0;
}

.main {
    background-color: #b1b6bd;
    margin: 20px;
    border-radius: 5px;
}

.change_avatar {
    cursor: pointer;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    border-radius: 100%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.change_avatar_input {
    display: none;
}