<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../../styles/registration.pcss">
    </head>
    <body>
        <div class="main">
            <h1 class="title">Регистрация</h1>
            <form class="form_registr">
                <div class="wrapper">
                    {{> fieldset label="Имя" type="text" name="first_name"}}
                    {{> fieldset label="Фамилия" type="text" name="second_name"}}
                </div>
                <div class="wrapper">
                    {{> fieldset label="Логин" type="text" name="login"}}
                    {{> fieldset label="Пароль" type="password" name="password"}}
                </div>
                <div class="wrapper">
                    {{> fieldset label="Почта" type="email" name="email"}}
                    {{> fieldset label="Телефон" type="tel" name="mumber"}}
                </div>
                <div class="helpPosition">
                    {{> button label="Авторизоваться"}}
                </div>
                {{!-- {{> a href="#" text="Don't Have an Account?"}} --}}
                <a class="linkToRegistr" href="/src/pages/login/login.hbs">Есть аккаунт?</a>
            </form>
        </div>
    </body>
</html>
