<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/settings.pcss">
</head>
<body>
    <header class="header">
        <div class="header_elems">
            <a href="/src/pages/dialogs/dialogs.hbs">Диалоги</a>
            <a href="/src/pages/settings/settings.hbs">Настройки</a>
        </div>
        <div class="header_elems">
            <a href="/src/pages/login/login.hbs">Войти</a>
            <a href="/src/pages/registration/registration.hbs">Регистрация</a>
        </div>
    </header>
    <div class="main">
        <div class="card">
            <div class="change_avatar">
                <input class="change_avatar_input" placeholder="" type="file">
            </div>
        </div>
        <p class="change_avatar_text">Изменить аватар</p>
        <form class="form_settings">
            <div class="wrapper">
                {{> fieldset label="Имя" type="text" name="first_name"}}
                {{> fieldset label="Фамилия" type="text" name="second_name"}}
            </div>
            <div class="wrapper">
                {{> fieldset label="Почта" type="email" name="email"}}
                {{> fieldset label="Телефон" type="tel" name="mumber"}}
            </div>
            <div class="wrapper">
                {{> fieldset label="Старый пароль" type="password" name="old_password"}}
                {{> fieldset label="Новый пароль" type="password" name="new_password"}}
            </div>
        </form>
    </div>
</body>
</html>