<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://css.gg/attachment.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../styles/dialogs.pcss">
    <script src="./dialogs.js" type="module"></script>
    <script src="./dialogs_messages.js" type="module"></script>
</head>
<body>
    <header class="header">
        <div class="header_elems">
            <a href="/src/pages/dialogs/dialogs.hbs">Диалоги</a>
            <a href="/src/pages/settings/settings.hbs">Настройки</a>
        </div>
        <div class="header_elems">
            <a href="/src/pages/login/login.hbs">Войти</a>
            <a href="/src/pages/registration/registration.hbs">Регистрация</a>
        </div>
    </header>
    <div class="main">
        <div class="dialogs">
            <div class="search">
                <input type="search" class="search_input" placeholder="поиск" name="search">
            </div>
            <div id="cards"></div>
        </div>
        <div class="container">
            <div class="profile_title">
                <img class="profile_title_img" src="http://sun9-3.userapi.com/s/v1/if1/y72Ov_XZPLyuIeAQsCKjkYj31CV4h3ULfIBf755hFxDLRpqvvyxv0Rcs-RDqK0dOBufGqVX5.jpg?size=200x235&quality=96&crop=0,0,500,588&ava=1" alt="">
                <img class="profile_title_icon" src="https://img.icons8.com/small/32/000000/bookmark-ribbon.png"/>
            </div>
            <div class="messages" id="container"></div>
            <div class="message_input">
                <input type="text" placeholder="написать сообщение">
                <button>Отправить</button>
            </div>
        </div>
    </div>
</body>
</html>